@use "./_variables" as *;
  
.sidebar {
  background-color: $grey;
  padding: 1.5rem;
  position: relative;
  text-align: center;
  width: 25%;

  hr {
    margin: 2rem 0;
  }
}

.project-list {
  &__item {
    cursor: pointer
  }
}
