html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

main {
  display: flex;
  flex-flow: row no-wrap;
  height: 100vh;
}

section.explorer {
  background-color: #eff;
  height: 100%;
  width: 25%;
}

section.tasks {
  background-color: #fef;
  height: 100%;
  width: 75%;
}