html {
  font-size: 62.5%;
}

body {
  font-family: arial sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

header {
  background-color: #444e6e;
  padding: 2rem;
}

main {
  display: flex;
  flex-flow: row nowrap;
  height: 90vh;
}

h1 {
  color: white;
  margin: 0;
}

hr {
  margin: 2rem 0;
}

ul {
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
}

input {
  border: none;
  padding: 1rem 2rem;
  font-size: 16px;
}

input:focus {
  outline: none;
}

section.explorer {
  background-color: #e1e3ff;
  height: 100%;
  padding: 1.5rem;
  text-align: center;
  width: 25%;
}

.project-form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.project-form input {
  background: none;
  color: #444e6e;
  max-width: 60%;
}

.project-form input::placeholder {
  color: #444e6e;
}

.project-form input:focus::placeholder {
  color: transparent;
} 

.project-form button[type="submit"] {
  font-size: 3rem;
  background: none;
  color: green;
  padding: 0 1rem;
}

.project {
  cursor: pointer;
}

section.tasks {
  background-color: #fdfdfd;
  height: 100%;
  width: 75%;
}
